# 5장 자료구조

## 5.1 리스트
### 5.1.1 리스트 생성하기
- 리스트명 = [값1, 값2, ...]
- 빈 리스트 생성 > list = [ ]

In [157]:
# 지하철 칸 별로 10명, 20명, 30명 승차
subway1 = 10
subway2 = 20
subway3 = 30

In [158]:
subway = [10, 20, 30]

print(subway)

[10, 20, 30]

### 5.1.2 값 추가/삽입/삭제하기
- 추가 append(추가할 값)
- 원하는 위치에 삽입 insert(인덱스, 삽입할 값)

In [159]:
subway = ["푸", "피글렛", "티거"]

print(subway)

# 피글렛이 몇 번째 칸에 탔는가?
print("피글렛은 " + str(subway.index("피글렛")) + "번째 칸에 타고 있습니다.")

['푸', '피글렛', '티거']
피글렛은 1번째 칸에 타고 있습니다.

In [160]:
# 이요르 탑승
subway.append("이요르")

print(subway)

['푸', '피글렛', '티거', '이요르']

In [161]:
# 루를 푸와 피글렛 사이(인덱스 1 위치)에 삽입
subway.insert(1, "루")

print(subway)

['푸', '루', '피글렛', '티거', '이요르']

In [162]:
print(subway.pop()) # 이요르 내림
print(subway)

print(subway.pop()) # 티거 내림
print(subway)

print(subway.pop()) # 피글렛 내림
print(subway)

이요르
['푸', '루', '피글렛', '티거']
티거
['푸', '루', '피글렛']
피글렛
['푸', '루']

In [163]:
# 지하철에서 모두 내림
subway.clear()
print(subway)

[]

### 5.1.3 중복 값 확인하기

In [164]:
# 같은 이름이 몇 명 있는지 확인
subway = ["푸", "피글렛", "티거"]
subway.append("푸")

print(subway)
print(subway.count("푸"))

['푸', '피글렛', '티거', '푸']
2

### 5.1.4 리스트 정렬하기

In [165]:
num_list = [5, 2, 4, 3, 1]

num_list.sort() # 오름차순 정렬
print(num_list)

num_list.sort(reverse=True) # 내림차순 정렬
print(num_list)

num_list.reverse() # 순서 뒤집기
print(num_list)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

In [166]:
# sorted() 리스트 정렬하기
# sort() 함수는 정렬하면서 리스트 자체 값 저장
# sorted()함수는 원본 리스트 변경 없이 정렬된 리스트 새로 생성

my_list = [1,3,2]
my_list.sort() # 리스트 정렬
print(my_list) # my_list 리스트 데이터 정렬

your_list = [1, 3, 2]
new_list = sorted(your_list) # 정렬할 리스트를 소괄호에 넣음
print(your_list) # your_list 리스트 데이터는 변경되지 않음
print(new_list) # 정렬된 새로운 리스트

[1, 2, 3]
[1, 3, 2]
[1, 2, 3]

### 5.1.5 리스트 확장하기
- 리스트1.extend(리스트2)

In [167]:
# 같은 자료형일 필요 X
mix_list = ["푸", 20, True, [5,2,4,3,1]]

print(mix_list)

['푸', 20, True, [5, 2, 4, 3, 1]]

In [168]:
mix_list = ["푸", 20, True]
num_list = [5,2,4,3,1]
num_list.extend(mix_list) # 리스트 합치기

print(mix_list)
print(num_list)

['푸', 20, True]
[5, 2, 4, 3, 1, '푸', 20, True]

## 5.2 딕셔너리
### 5.2.1 딕셔너리 생성하기
- 딕셔너리명 = {key1: value1, key2: value2, ...}
- 빈 딕셔너리 dict = { }

In [169]:
cabinet = {3: "푸", 100: "피글렛"}

print(cabinet[3]) # key 3에 해당하는 value
print(cabinet[100]) # key 100에 해당하는 value

푸
피글렛

In [170]:
print(cabinet.get(3)) # key 3에 해당하는 value

푸

In [171]:
# get 함수를 사용하면 정의되지 않은 값이어도 오류 발생하지 않고 none 값 출력
print(cabinet.get(5))
print("Hi")

# 대괄호를 사용할 때, 정의되지 않은 값을 전달하면 오류 발생
# print(cabinet[5])
# print("Hi")

None
Hi

In [172]:
print(cabinet.get(5, "사용 가능")) # key에 해당하는 값이 없을 때, "사용 가능" 이라는 기본값 정의

사용 가능

In [173]:
# in 연산자를 사용하면 해당 key가 딕셔너리에 있는지 확인할 수 있음.

print(3 in cabinet)
print(5 in cabinet)

# in 연산자는 문자열에 해당 글자가 포함되는지 확인할 수도 있음/

print("곰" in "곰돌이")
print("푸" in "곰돌이")

True
False
True
False

In [174]:
# key 에는 정수형 뿐 아니라 문자열도 넣을 수 있음.

cabinet = {"A-3": "푸", "B-100": "피글렛"}
print(cabinet["A-3"])
print(cabinet["B-100"])

푸
피글렛

### 5.2.2 값 변경/추가/삭제하기

In [175]:
cabinet = {"A-3": "푸", "B-100": "피글렛"}
print(cabinet)

cabinet["A-3"] = "티거" # key에 해당하는 값이 있을 때 -> 값 변경
cabinet["C-20"] = "이요르" # key에 해당하는 값이 없을 떄 -> 값 추가

print(cabinet)

{'A-3': '푸', 'B-100': '피글렛'}
{'A-3': '티거', 'B-100': '피글렛', 'C-20': '이요르'}

In [176]:
del cabinet["A-3"] # A-3에 해당하는 값 삭제
print(cabinet)

{'B-100': '피글렛', 'C-20': '이요르'}

### 5.2.3 값 확인하기

In [177]:
print(cabinet.keys()) # key만 출력

dict_keys(['B-100', 'C-20'])

In [178]:
print(cabinet.values()) # value만 출력

dict_values(['피글렛', '이요르'])

In [179]:
print(cabinet.items()) # key, value 한 쌍으로 출력

dict_items([('B-100', '피글렛'), ('C-20', '이요르')])

In [180]:
cabinet.clear() # 값 전체 삭제

print(cabinet)

{}

## 5.3 튜플
- 튜플명 = (값1, 값2, ...)

In [181]:
menu = ("돈가스", "치즈돈가스")
print(menu[0])
print(menu[1])

돈가스
치즈돈가스

In [182]:
name = "피글렛"
age = 20
hobby = "코딩"
print(name, age, hobby)

피글렛 20 코딩

In [183]:
(name, age, hobby) = ("피글렛", 20, "코딩")
print(name, age, hobby)

피글렛 20 코딩

In [184]:
(departure, arrival) = ("김포", "제주")
print(departure, ">", arrival) # 김포 > 제주
(departure, arrival) = (arrival, departure)
print(departure, ">", arrival) # 제주 > 김포

김포 > 제주
제주 > 김포

## 5.4 세트
- 세트명 = {값1, 값2, ...}
- 세트명 = set([값1, 값2, ...])
- 빈 세트 생성  set = set( )

In [185]:
my_set = {1, 2, 3, 3, 3}
print(my_set)

{1, 2, 3}

In [186]:
java = {"푸", "피글렛", "티거"}
python = set(["푸", "이요르"])

In [187]:
print(java & python)
print(java.intersection(python))

{'푸'}
{'푸'}

In [188]:
print(java | python)
print(java.union(python))

{'푸', '피글렛', '이요르', '티거'}
{'푸', '피글렛', '이요르', '티거'}

In [189]:
print(java - python)
print(java.difference(python))

{'피글렛', '티거'}
{'피글렛', '티거'}

In [190]:
# 파이썬 개발자 추가(기존 개발자: 푸, 이요르)
python.add("피글렛")
print(python)

{'이요르', '푸', '피글렛'}

In [191]:
# 자바 개발자 삭제(기존 개발자: 푸, 피글렛, 티거)
java.remove("피글렛")
print(java)

{'푸', '티거'}

## 5.5 자료구조 변환하기

In [192]:
menu = {"커피", "우유", "주스"}
print(menu)
print(type(menu))

{'커피', '주스', '우유'}
<class 'set'>

In [193]:
menu = list(menu) # 리스트로 변환
print(menu, type(menu))

['커피', '주스', '우유'] <class 'list'>

In [194]:
menu = tuple(menu) # 튜플로 변환
print(menu, type(menu))

('커피', '주스', '우유') <class 'tuple'>

In [195]:
menu = set(menu) # 세트로 변환
print(menu, type(menu))

{'커피', '주스', '우유'} <class 'set'>

## 5.6 실습문제: 당첨자 뽑기

In [196]:
from random import *

users = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
shuffle(users)

chicken = sample(users, 1)
remain_users = set(users) - set(chicken)
coffee = sample(list(remain_users), 3)

print("-- 당첨자 발표 --")
print(f"치킨 당첨자 : {chicken}")
print(f"커피 당첨자 : {coffee}")
print("-- 축하합니다! --")

-- 당첨자 발표 --
치킨 당첨자 : [19]
커피 당첨자 : [6, 15, 14]
-- 축하합니다! --

In [197]:
# 셀프체크

'''
문제: 수강신청 기간에 시스템 오류로 일부 과목이 중복 신청되는 문제 발생함. 중복 과목을 없애는 프로그램 작성
# 조건
1. 신청 과목은 리스트로 관리된다.
2. 리스트에 같은 과목이 2번 이상 포함된 경우 1개만 남기고 나머지는 삭제
3. 출력 시 신청 과목의 순서는 변경해도 된다.
'''

신청과목 = ["Python", "Java", "C", "C", "Python"]
신청과목 = set(신청과목) # 리스트를 세트로 변환해 중복 제거, 조건 3으로 인해 순서 변경되어도 Ok

print("신청한 과목은 다음과 같습니다.")
print(list(신청과목)) # 세트를 리스트로 다시 변환 (정렬되어 set 보다 가독성이 좋기 때문)

신청한 과목은 다음과 같습니다.
['C', 'Python', 'Java']